:root {
  --counter:0
}
.beginner{
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}




.app {
  
  width: 700px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  margin: 40px auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}


.score-section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  font-size: 24px;
  align-items: center;
  padding: 20px;
}

/* QUESTION/TIMER/LEFT SECTION */
.question-section {
  width: 100%;
  position: relative;
  text-align: center;
  padding: 20px;
}

.question-count{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.question-count span{
  width: 100px;
  height: 5px;
  padding: 5px;
  border: 1px solid rgb(121, 121, 121);
  display: flex;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}


.question-img {
  width: 200px;
  height: 250px;
  margin-bottom: 12px;
  margin: 0 auto;
}

.question-img img{
    width: 100%;
    height: 100%;
}

.timer-text {
  background: rgb(230, 153, 12);
  padding: 15px;
  margin-top: 20px;
  margin-right: 20px;
  border: 5px solid rgb(255, 189, 67);
  border-radius: 15px;
  text-align: center;
}


/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.answer_progressActive{
  background-color: rgb(101, 8, 223);
}

.btns{
  width: 810px;
   padding: 10px;
  display: flex;

}

.answerBtn {
  width: 49%;
  font-size: 16px;
  color: #ffffff;
  background-color: #252d4a;
  border-radius: 15px;
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  border: 5px solid #234668;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px;
  
}

.correct {
  background-color: #2f922f;
}

.incorrect {
  background-color: #ff3333;
}

.btns .answerBtn:hover {
  background-color: #555e7d;
}

.btns .answerBtn:focus {
  outline: none;
}

.btns .answerBtn svg {
  margin-right: 5px;
}


.skill {
	width: 160px;
	height: 160px;
	position: relative;
}

.outer {
	width: 160px;
	height: 160px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
		-6px -6px 10px -1px rgba(255, 255, 255, 0.7);
	padding: 20px;
}

.inner {
	width: 120px;
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
				inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
					-0.5px -0.5px 0px rgba(255, 255, 255, 1),
					0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
					0px 12px 10px -10px rgba(0, 0, 0, 0.05);

}

#number{
	font-weight: 600;
	color: #555;
}

#number::after{
  content: "%";
  
}

circle{
	fill: none;
	stroke: url(#GradientColor);
	stroke-width: 20px;
	stroke-dasharray: 471;
	stroke-dashoffset:471;
	animation: anim 1s linear forwards;
	-webkit-animation: anim 1s linear forwards;
}

svg{
	position: absolute;
	top: 0;
	left: 0;
}

@keyframes anim{
	100%{
		stroke-dashoffset: var(--counter);
	}
}